.note {
    border: 1px solid lightgray;
    border-radius: 2px;
    width: 500px;
    padding: 15px;
    margin-left: 30%;
    margin-bottom: 5px;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.remove-note-buttons-left {
    float: left;
    margin-top: -18px;
}

.remove-note-buttons-right {
    float: right;
    margin-top: -18px;
}

.done-note {
  color: red;
}